<div class="container column-container">
    <div class="container row-container">
        <div class="container column-container left-container">
            <h3>Links</h3>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contacts</a></li>
                <li><a href="/blogs">Blog</a></li>
                <li><a href="/projects">Project</a></li>
            </ul>
        </div>

        <div class="container column-container center-container align-center">
            <p class="copyright">&copy; {{ site.time | date: "%d-%m-%Y" }} All rights reserved.</p>
        </div>

        <div class="container column-container right-container">
            <h3>Contacts</h3>
            <ul>
                <li><a href="mailto:eru.lawliet.death@gmail.com">Send me an email</a></li>
            </ul>
        </div>
    </div>
</div>
