<div class="container row-container nav-head sticky">
    <button id="theme-toggle">
        <img src="/assets/images/logos/logo_red.png" alt="logo">
    </button>

    <div class="search-bar">
        <input type="text" id="searchInput" placeholder="Search contents...">
    </div>

    <nav>
        <ul class="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="/skysheets">Music sheets</a></li>
            <li><a href="/blogs">Weblogs</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/videos">Videos</a></li>
        </ul>
    </nav>
</div>

<script src="/src/main/theme_toggle.js"></script>
