<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="L, eru roraito, L's home, blog, weblog,  skysheets, Sky CotL, music sheets, Sky Children of the Light, game music, share music, sky sheets, skysheets, That Game Company">
    <meta name="google-site-verification" content="4REacEj3T4sIPtuCOYjznZ7hcPccPmFiBW6zscP45UM" />
    <meta name="author" content="L">
    <meta name="description" content="L's weblogs">
    <meta name="robots" content="index, follow">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="canonical" href="https://elulolaito.github.io">

    <!-- Other meta tags or external resources -->
    <meta name="description" content="{{ page.description | default: site.description }}">

    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/mobile.css" media="only screen and (max-width: 768px)">

    <link rel="icon" href="/assets/images/icons/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/images/logos/logo_128.png" sizes="128x128" type="image/png">
    <link rel="icon" href="/assets/images/logos/logo_96.png" sizes="96x96" type="image/png">
    <link rel="icon" href="/assets/images/logos/logo_48.png" sizes="48x48" type="image/png">
    <link rel="icon" href="/assets/images/logos/logo_32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/assets/images/logos/logo_16.png" sizes="16x16" type="image/png">

    <title>{{ page.title }} - {{ site.title }}</title>
</head>
