<div class="container row-container nav-head sticky">
    <button id="theme-toggle" onclick="alert('Helloworld!')">
        <img src="/assets/images/logos/logo_red.png" alt="logo">
    </button>

    <!-- Centered search bar -->
    <div class="search-bar">
        <input type="text" id="searchInput" placeholder="Search contents...">
    </div>

    <nav>
        <ul class="nav-list">
            <li><a href="/index.html">Home</a></li>
            <li><a href="/skysheets.html">Music sheets</a></li>
            <li><a href="/blogs.html">Weblogs</a></li>
            <li><a href="/projects.html">Projects</a></li>
            <li><a href="/videos.html">Videos</a></li>
        </ul>
    </nav>
</div>
