<table>
    <thead>
        <tr>
            <th>#</th><th>Title</th><th>Artist</th><th>Language</th><th>Duration</th>
            <th>Instrument</th><th>Key</th><th>BPM</th><th>Size</th><th>Last Updated</th>
        </tr>
    </thead>
    <tbody>
        {% for song in site.data.skysheets %}
        <tr>
            <td>{{ forloop.index }}</td>
            <td><a href="{{ song["URL"] }}">{{ song["Name"] }}</a></td>
            <td>{{ song["Author"] }}</td>
            <td>{{ song["Language"] }}</td>
            <td>{{ song["Length"] }}</td>
            <td>{{ song["Instrument"] }}</td>
            <td>{{ song["Major"] }}</td>
            <td>{{ song["BPM"] }}</td>
            <td>{{ song["Size"] }}</td>
            <td>{{ song["Last updated"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<pre>{{ site.data.skysheets | inspect }}</pre>
<pre>{{ site.data.skysheets[0] | keys | inspect }}</pre>
<pre>
{% for row in site.data.skysheets %}
  {{ row | inspect }}
{% endfor %}
</pre>
