<table class="table-container">
    <thead>
        <tr>
            <th style="width: 5%">Ord.</th>
            <th>Name</th>
            <th>Author</th>
            <th style="width: 10%;">Language</th>
            <th style="width: 7%;">Length</th>
            <th style="width: 10%;">Instrument</th>
            <th style="width: 6%;">Major</th>
            <th style="width: 6%;">BPM</th>
            <th style="width: 12%;">Last updated</th>
        </tr>
    </thead>
    <tbody id="music-table-body">
        {% for song in site.data.skysheets %}
        <tr>
            <td>{{ forloop.index }}</td>
            <td><a href="{{ song["URL"] }}">{{ song["Name"] }}</a></td>
            <td>{{ song["Author"] }}</td>
            <td>{{ song["Language"] }}</td>
            <td>{{ song["Length"] }}</td>
            <td>{{ song["Instrument"] }}</td>
            <td>{{ song["Major"] }}</td>
            <td>{{ song["BPM"] }}</td>
            <td>{{ song["Last updated"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <!-- <tfoot> -->
    <!--     <tr> -->
    <!--         Table footer -->
    <!--     </tr> -->
    <!-- </tfoot> -->
</table>
<div id="pagination" class="container row-container pagination">
    <button id="prevPage" disabled>Previous</button>
    <span id="pageInfo">Page </span>
    <button id="nextPage">Next</button>
</div>
<div id="loading" class="loading" style="display: none;">Loading...</div>
