@media (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
    }

    .nav-list li a {
        padding: 0.3rem 0rem;
    }

    .menu-toggle {
        display: flex;
        cursor: pointer;
    }

    .toc-toggle {
        display: flex;
        cursor: pointer;
    }

    .nav-list.active {
        display: flex;
        border-bottom: 0.2rem dashed var(--border-color);
        border-top: 0.2rem dashed var(--border-color);
        top: 100%;
        position: absolute;
    }

    #toc-in-header.active {
        display: flex;
        border-bottom: 0.2rem dashed var(--border-color);
        border-top: 0.2rem dashed var(--border-color);
        top: 100%;
        position: absolute;
        height: auto;
        text-align: left;
        margin: 0rem;
    }

    #header {
        flex-direction: column;
    }

    #header.column {
        flex-direction: column;
    }

    .table-container th:nth-child(1),
    .table-container td:nth-child(1) {
        display: none;
    }

    .table-container th:nth-child(2),
    .table-container td:nth-child(2) {
        width: 60%;
    }

    .table-container th:nth-child(3),
    .table-container td:nth-child(3) {
        width: 40%;
    }

    .table-container th:nth-child(n+4),
    .table-container td:nth-child(n+4) {
        display: none;
    }

    main .left-container, main .right-container {
        width: 3%;
        display: none;
    }

    main .center-container {
        width: 94%;
    }
}
