@font-face {
    font-family: "Alata";
    font-weight: normal;
    font-style: normal;
    src: 
    url("../../assets/founts/Alata-Regular.woff2") format("woff2"),
    url("../../assets/founts/Alata-Regular.woff") format("woff");
}
@font-face {
    font-family: "Icons";
    font-weight: normal;
    font-style: normal;
    src: 
    url("../../assets/founts/MaterialIcons-Regular.woff2") format("woff2"),
}
:root {
    --font-default: "Alata", "Icons", sans-serif;
    --mono-font: monospace;
}

[data-theme="dark"] {
    --background-color: #1A1111;
    --text-color: #D6BE92;
    --primary-text-color: #4caf50;
    --secondary-text-color: #aaaaaa;
    --accent-color: #6D2323;

    --dock-bg-color: #241E1D;
    --td-bg-color: var(--dock-bg-color);
    --table-bg-color: transparent;

    --link-color: #E65C5C;
    --link-hover-color: #FF7272;
    --link-active-color: #1a5e2e;
    --link-visited-color: #8e44ad;

    --code-bg-color: var(--background-color);
    --code-fg-color: #FFD300;

    --nav-button-bg-color: var(--dock-bg-color);
    --nav-button-fg-color: var(--text-color);
    --nav-button-hover-bg-color: var(--accent-color);
    --nav-button-hover-fg-color: var(--text-color);

    --button-bg-color: var(--dock-bg-color);
    --button-text-color: var(--text-color);
    --button-hover-bg-color: #f1605a;
    --button-hover-text-color: #000;
    --button-active-bg-color: #f1605a;

    --border-color: var(--accent-color);
    --border-focus: var(--text-color);
    --input-bg-color: var(--dock-bg-color);
    --input-text-color: var(--text-color);
    --input-placeholder-color: #777777;

    --scrollbar-color: var(--accent-color);
    --scrollbar-hover-color: var(--text-color);
}

[data-theme="light"] {
    --background-color: #F0CE92;
    --text-color: #000000;
    --primary-text-color: #0077cc;
    --secondary-text-color: #777777;
    --accent-color: #991b14;

    --dock-bg-color: #ebdbb2;
    --td-bg-color: var(--dock-bg-color);
    --table-bg-color: transparent;

    --link-color: #991b14;
    --link-hover-color: #991b14;
    --link-active-color: #1a5e2e;
    --link-visited-color: #8e44ad;

    --nav-button-bg-color: var(--dock-bg-color);
    --nav-button-fg-color: var(--text-color);
    --nav-button-hover-bg-color: var(--accent-color);
    --nav-button-hover-fg-color: var(--text-color);

    --button-bg-color: var(--dock-bg-color);
    --button-text-color: var(--text-color);
    --button-hover-bg-color: #991b14;
    --button-hover-text-color: #ebdbb2;
    --button-active-bg-color: #991b14;

    --border-color: #991b14;
    --border-focus: var(--text-color);
    --input-bg-color: var(--dock-bg-color);
    --input-text-color: var(--text-color);
    --input-placeholder-color: #aaaaaa;

    --scrollbar-color: var(--accent-color);
    --scrollbar-hover-color: var(--text-color);
}

::selection {
    background-color: var(--text-color);
    color: var(--background-color);
}
/* No focus on search box. */
input:focus {
    outline: none;
    /*border: 1px solid yourDesiredColor;*/
}
/* Global styles */
* {
    font-family: var(--font-default);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: var(--text-color);
    font-size: 20px;
    word-wrap: break-word;
    hyphens: auto;
    white-space: normal;
    word-break: normal;
    line-height: 1.2em;
    /* transition: all 0.2s; */
}
p {
    /* display: flex; */
    text-indent: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: justify;
}
p:last-child {
    margin-bottom: 0rem;
}
p:first-child {
    margin-top: 0rem;
}

.title {
    font-size: 3rem;
    color: var(--primary-text-color);
}

.side-title {
    color: var(--secondary-text-color);
    font-size: 1rem;
}

.title, .side-title, h1, h2, h3 {
    font-weight: 700;
}

h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 1.75rem;
}
h3 {
    font-size: 1.25rem;
}
h4, h5, h6 {
    font-size: 1rem;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-default);
    overflow-x: hidden;
    /* min-height: 100vh; */
    /* display: flex; */
    margin: 0;
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* display: block; /1* Assure canvas has no space around *1/ */
    height: 100vh;
    z-index: -1;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color);
    text-decoration: underline dashed;
}

/* Header and Navigation styles */

header {
    top: 0;
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: space-between;
    margin-bottom: 5px;
    background-color: var(--dock-bg-color);
    border-bottom: dashed;
    /* border: dashed; */
    /* border: solid; */
    /* border: dotted; */
    /* border: double; */
    border-color: var(--border-color);
    border-width: 0.2rem;
    /* height: 4rem; */
    width: 100%;
    z-index: 1;
}

ul {
    list-style-type: none;
}

li {
    /* margin: 0rem 1rem; */
}

.icon {
    font-size: 1.5rem;
}

.nav-head img {
    max-width: 100%;
    max-height: 100%;
    height: 2rem;
    width: 2rem;
}

.overflow-visible {
    overflow: visible !important;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    word-wrap: break-word;
    word-break: break-all;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.1rem;
}

.nav-list a {
    background-color: var(--nav-button-bg-color);
    color: var(--nav-button-fg-color);
    padding: 0.8rem 1rem;
    font-size: 1rem;
}
.nav-list a:hover,
.nav-list a.active {
    background-color: var(--nav-button-hover-bg-color);
    color: var(--nav-button-hover-fg-color);
    text-decoration: none;
}

.nav-list a:hover {
    outline-style: dashed;
    outline-width: 0.1rem;
}
/* Main Content styles */
main {
    display: flex;
    justify-content: flex-start;
    /* min-height: 920px; */
    /* height: 100vh; */
    /* position: sticky; */
    /* top: 200px; */
    z-index: 0;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 0;
}

.container {
    background: transparent;
    display: flex;
    height: 100%;
    /* justify-content: center; */
    max-width: 100%; /* Prevent it from being too wide */
    overflow: hidden; /* Avoid unnecessary scrollbars */
    width: 100%;
}

.float-container {
    background-color: var(--dock-bg-color);
    margin: 0.4rem;
    padding: 0.6rem;
    border: 0.2rem dashed var(--border-color);
    border-radius: 0.4rem;
}

.row-container {
    flex-direction: row;
}

.column-container {
    flex-direction: column;
}

.left-container, .right-container {
    width: 15%;
}

.center-container {
    width: 70%;
}

.align-center {
    align-content: center;
    text-align: center;
}

.justify-center {
    justify-content: space-around;
    text-align: center;
}

.sidebar {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 25%;
}

.sidebar .widget h2 {
    border-bottom: 2px solid var(--text-color);
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.sidebar .widget ul {
    list-style: none;
    padding: 0;
}

.sidebar .widget ul li {
    margin-bottom: 10px;
}

.sidebar .widget ul li a {
    color: var(--text-color);
    text-decoration: none;
}

.search-bar {
    background-color: transparent;
    flex: 1;
    font-family: var(--font-default);
    margin: 0.2rem;
    width: 100%;
}

.search-bar input {
    padding: 0.2rem;
    width: 100%;
    background-color: var(--input-bg-color);
    border: dashed;
    border-color: var(--border-color);
    color: var(--input-text-color);
    border-radius: 0.4rem;
}

.search-bar input::placeholder {
    color: var(--text-color);
}

.search-bar input:focus {
    border: dotted;
    border-color: var(--border-focus);
}

/* Table container */
.table-container {
    background: transparent;
    width: 100%;
    /*max-width: 1200px;*/
    margin: 0 auto;
    overflow: auto;
}

/* Table styles */
table {
    width: 100%;
    background-color: transparent;
    /* border: 3px solid var(--text-color); */
    table-layout: fixed;
    max-width: 100%;
    overflow: auto;
    border-spacing: 0.4rem;
}

thead {
    position: sticky;
    z-index: 0;
}

th, td {
    padding: 0.3rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    border-collapse: collapse;
    background-color: var(--td-bg-color);
    border-radius: 0.4rem;
}
th {
    text-align: center;
    border: dashed;
    border-color: var(--border-color);
}
td {
    text-align: center;
    z-index: 0;
    /* border-radius: 20px; */
}
table tr td:nth-child(2) {
    text-align: left;
}

/* Table body */
tbody {
    background-color: var(--table-bg-color);
    padding: 0.4rem;
}

/* tbody tr:nth-child(even) { */
/*     background-color: #f2f2f2; /1* Striped rows *1/ */
/* } */
/* tbody tr:nth-child(odd) { */
/*     background-color: #ffffff; /1* Alternate row color *1/ */
/* } */
/* Responsive Grid for Videos */
.videos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 40px 0;
}

.video-embed {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    background-color: var(--background-color);
}

.video-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    padding: 10px;
}

.video-title {
    font-size: 16px;
    color: var(--text-color);
    padding: 10px;
    text-align: center;
    background-color: var(--background-color);
    border-top: 5px solid var(--dock-bg-color);
    border-radius: 0 0 10px 10px;
    bottom: 0;
}

button {
    background-color: var(--button-bg-color);
    border: 0.1rem dashed var(--border-color);
    border-radius: 1rem;
    color: var(--text-color);
    padding: 0.1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.1rem;
    cursor: pointer;
    align-items: center;
    font-family: var(--font-default);
}
#theme-toggle {
    border: none;
}
/* Pagination styles */
.pagination {
    justify-content: center;
    align-items: center;
    border-top: 0.1rem dashed var(--border-color);
    margin-top: 0.1rem;
    text-align: center;
}

.pagination button:hover,
.pagination button:disabled,
.pagination button {
    text-decoration: none;
    margin: 0.2rem 0.1rem;
    padding: 0.2rem 0.4rem;
    cursor: pointer;
}

.pagination button,
.pagination button:disabled {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
}

.pagination button:hover:not(:disabled) {
    background-color: var(--button-hover-bg-color);
    color: var(--button-hover-text-color);
    outline-style: dashed;
    outline-width: 0.1rem;
}

.pagination button:disabled {
    cursor: not-allowed;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: auto;
}

.modal-content {
    background-color: var(--background-color);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Responsive styles */
@media (max-width: 768px) {
    /* body { */
    /*     font-size: 14px; */
    /* } */

    /* .search-bar input { */
    /*     width: 100%; */
    /*     max-width: 300px; */
    /* } */

    /* .nav-list a { */
    /*     padding: 8px 16px; */
    /*     font-size: 14px; */
    /* } */
}

@media (max-width: 480px) {
    /* .videos-grid { */
    /*     grid-template-columns: 1fr; */
    /* } */

    /* .video-embed { */
    /*     padding-bottom: 75%; */
    /*     border-radius: 0; */
    /* } */

    /* table { */
    /*     font-size: 14px; */
    /* } */
}
/* Blogs */

.blog-posts {
    width: 70%;
}

.post {
    background-color: var(--background-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post h3 {
    margin-top: 0;
}

.post .read-more {
    color: var(--link-color);
    text-decoration: none;
    font-weight: bold;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--dock-bg-color);
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    position: relative;
    width: 100%;
    border-top: 0.2rem dashed var(--border-color);
    margin-top: 1rem;
}

footer .left-container, footer .right-container {
    width: 30%;
}

footer .center-container {
    width: 40%;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: var(--dock-bg-color);
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border-radius: 0px;
    padding: 0px 2px 0px 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover-color);
}

.nav-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project {
    background-color: var(--dock-bg-color);
}
/* Projects Grid */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 40px 0;
}


.project:hover {
    border-color: var(--link-hover-color);
}

.project h2 a {
    color: var(--link-color);
    text-decoration: none;
}

.project h2 a:hover {
    color: var(--link-hover-color);
}

@media (max-width: 768px) {
    /* .project { */
    /*     font-size: 16px; */
    /* } */
}

.section-nav {
   width: 100%;
}

.toc-entry {

}

.toc-h1, .toc-h1::marker {
    margin: 10px;
}

.toc-h2, .toc-h2::marker {
    margin: 20px;
}

.toc-h3, .toc-h3::marker {
    margin: 30px;
}

code {
    color: var(--code-fg-color);
    background-color: var(--code-bg-color);
    border-radius: 0.3rem;
    font-family: var(--mono-font);
}

pre {
    background-color: var(--code-bg-color);
    border-radius: 0.3rem;
    font-family: var(--mono-font);
    border: 0.1rem dashed var(--border-color);
    overflow-x: auto;
    white-space: pre;
    tab-size: 4;
    padding: 0.4rem;
}

pre code {
    white-space: pre-wrap;
    word-break: normal;
    tab-size: 4;
    font-family: var(--mono-font);
}

code span {
    font-family: var(--mono-font);
}

code span.w {
    display: inline-block;
    width: 1em;
    background: transparent;
}

figure.highlight {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
}

::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px;
    text-align: start !important;
    text-align-last: auto !important;
}


pre .highlight, .highlight {
    background: var(--background-color);
    color: none;
    padding: none;
    border-radius: none; 
}

.highlight .k { color: #c678dd; } /* Keyword */
.highlight .n { color: #e5c07b; } /* Variable */
.highlight .s { color: #98c379; } /* String */
.highlight .p { color: #56b6c2; } /* Punctuation */



body {
  counter-reset: h1-counter h2-counter h3-counter;
}

h1 {
  counter-reset: h2-counter;
}
h2 {
  counter-reset: h3-counter;
}

h1::before {
  counter-increment: h1-counter;
  content: counter(h1-counter) ". ";
}

h2::before {
  counter-increment: h2-counter;
  content: counter(h1-counter) "." counter(h2-counter) ". ";
}

h3::before {
  counter-increment: h3-counter;
  content: counter(h1-counter) "." counter(h2-counter) "." counter(h3-counter) ". ";
}



#table-of-contents ul {
    list-style: none;
    padding-left: 0;
}

#table-of-contents li {
    text-indent: -0.5rem;
    padding-left: 0.5rem;
    font-size: 0.6rem;
    line-height: 1.4;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

#table-of-contents .toc-number, #table-of-contents a {
    text-decoration: none;
    color: var(--link-color);
    font-size: 0.6rem;
    text-align: justify;
}

#table-of-contents .toc-number, #table-of-contents li:first-child {
    margin-top: 1em;
    margin-bottom: 1em;
}
#table-of-contents .toc-number, #table-of-contents li:last-child {
    margin-top: 1em;
    margin-bottom: 1em;
}

#table-of-contents a:hover {
    text-decoration: dashed underline;
    color: var(--link-hover-color);
}

#table-of-contents .toc-number {
    color: var(--primary-text-color);
    /* font-weight: 700; */
    /* margin-right: 5px; */
}
